<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel ="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="top">
     
         <h1>Pay Later 💳 </h1>
         <ul>
           
           <li><a href="/user" >User</a></li>
           <li><a href="/merchentr">Merchant</a></li>
           <li><a href="/">Home</a></li>
        
         </ul>
</div>
{% block content %}
<div class="s" style="text-align:center; font-size: 2em; margin-top: 50px; animation: fadeIn 2s;">
    <h1 style="color: white;">Welcome to PayLater Services</h1>
  </div>
  <style >
    @keyframes fadeIn {
        from { opacity: 0; transform: translateY(-20px);}
        to { opacity: 1; transform: translateY(0);}
    }
  </style>
{% endblock content %}
          <div class="last-div">
            <p>&copy; Copyright 2024 All rights reserved | Developed by Team 4</p>
          </div>

</body>
</html>